@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  font-family: 'Black Ops One', cursive;
}
/* header*/
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 1vh 0;
}

/* gameboard */
.boards-container {
  display: flex;
  gap: 9vw;
  justify-content: center;
  padding: 5vh 0;
  text-align: center;
}
.board-row{
  display: flex;
}
.square, .ship-box {
  height: 2vw;
  width: 2vw;
  cursor: pointer;
}
.ship-box{
  background: gray;
}
.hit{
  background: red;
}
.miss{
  background: blue;
}

/* ships */
.ships-container {
  display: flex;
  gap: 3vw;
  justify-content: center;
}
.ship-model-container {
  display: flex;
  gap: .5vw;
}
.ship {
  height: max-content;
}

/* controls */
.control-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5vh;
  width: 30vw;
  height: 10vh;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.name-input {
  grid-column: 1 / span 2;
  text-align: center;
}
.random-ships-btn, .drag-drop-btn, .dir-btn {
  cursor: pointer;
}

/* drag drop ships */
.dd-ship, .drag-drop-ships, .drag-drop-container {
  display: flex;
}
.drag-drop-container, .drag-drop-ships {
  align-items: center;
  gap: 1vw;
}
.drag-drop-container {
  flex-direction: column;
}