@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  font-family: 'Black Ops One', cursive;
}
/* header*/
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 1vh 0;
}

/* gameboard */
.boards-container {
  display: flex;
  gap: 9vw;
  justify-content: center;
  padding: 5vh 0;
  text-align: center;
}
.board-row{
  display: flex;
}
.square, .ship-square {
  height: 2vw;
  width: 2vw;
}
.ship-box{
  background: gray;
}

/* ships */
.ships-container {
  display: flex;
  gap: 3vw;
  justify-content: center;
}
.ship-model-container {
  display: flex;
  gap: .5vw;
}
.ship {
  height: max-content;
}
.ship-square {
  background: gray;
}
